<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="todoText" id="todoText">
        <button id="addBtn" @click = "addTodo" :key="todo">{{ title }}</button>
        <ul id="todoList">
            <li v-for="todo in todoList" :key="todo">{{ todo }}</li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>